<table border="1" class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>
                <img [src]="product.imageUrl" height="50"/>
            </td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.unitPrice | currency: 'INR'}}</td>
        </tr>
    </tbody>
</table>